language: ruby
rvm:
- 2.2.2
addons:
  postgresql: '9.4'
before_script:
- psql -c 'create database travis_ci_test;' -U postgres
- cp config/database.yml.travis config/database.yml
deploy:
  provider: heroku
  api_key:
    secure: EbJ/DsW6Y0wnlw5m5gldl5QiseZSVrR+N8Pk+FgQMrUPoVr/pkp3MXaSh32Ct3lQAY0l9f4VPo3M+SWyGaOiiWtAHzjvrzQ8L6NW8s+9g/VECZDmUuA7v4irXIcjREYNTYsr28d26bewulTDkv2TgcBWBcQNaQTcOjr4nWShNCYtVQp1zMo/RqKI3VHtMvh35B/bqFBxXQGXVW3OxAxMvItXijRJQ21MbhP2/plXG1fwRBQgLkCnLaiVTV7Fb8jsJd78MG3kX1WfAgApPzmymYeVFovt1xRWFCeVAsVkfs89fdjYBG8frB5k3BM8Rufobufd9p8yciLrsXZup2935E6bHXhhIrH+RYRJuy8u4x2gd7tsmbUOqEV82zkKckI1gzrjiNHlV4q6L54/LhLwYdwb3aJl3Txnfm6uwlrK8wBa7ogddCrdwRloURsTRmF4h+/qrMSWg3o36M5PSYVAX0HZ35uv0teYpnKNSe/mbefa4mcLyzpMEWck9/zwowDpKrDZgMmtdxu26itoKSa79ZZvImjajRvJu7HC7bzynK4PJm5z9gT+Iq3XBQdFjCyLeEl6q7PiWoVTA9Calwm19xOaikqoyg7qoHr+RKCCnxzttS9RKzEvuApjl+Raan2rkjIDHFrdw0Z1SM7H/RPaW4WgY+mcCX5NF5bVqE6FvXk=
  app: fathomless-lowlands-1244
  on:
    repo: tiy-hou-q3-2015-rails/Musik
run:
- rake db:migrate
- rake cleanup
