<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
  <body>
<h1>Today's Top 100 Tracks:</h1>
  <% @top_hunnad.each do |track| %>
    <p><%= track.title %></p>
  <% end %>
  </body>
</html>
