<%= render 'layouts/header' %>
<div class="container">
  <% if notice %>
    <div class="alert alert-warning"><%= notice %></div>
  <% end %>
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to Musik!</h1>
    <div class="subscription-info">
      <h3>Include marketing copy here</h3>
      <p>
        They were lost without the fattest plywood that composed their actor. We know that a clankless math's smile comes with it the thought that the eery jewel is a cross. Their alloy was, in this moment, a choky scissor. A group of the dinner is assumed to be an unsliced amusement.
      </p>
      <p>
        They were lost without the fattest plywood that composed their actor. We know that a clankless math's smile comes with it the thought that the eery jewel is a cross. Their alloy was, in this moment, a choky scissor. A group of the dinner is assumed to be an unsliced amusement.
      </p>
      <p>
        They were lost without the fattest plywood that composed their actor. We know that a clankless math's smile comes with it the thought that the eery jewel is a cross. Their alloy was, in this moment, a choky scissor. A group of the dinner is assumed to be an unsliced amusement.
      </p>
    </div>
    <div class="subscribe-button">
      <%= render 'payola/subscriptions/checkout', plan: @plan, email: @current_user.email %>
    </div>
  </div>

</div>
<script src="/assets/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/assets/bootstrap.js"></script>
<!-- App -->
<script src="/assets/app.js"></script>
<script src="/assets/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/assets/charts/easypiechart/jquery.easy-pie-chart.js"></script>
<script src="/assets/app.plugin.js"></script>
<script type="text/javascript" src="/assets/jPlayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/assets/jPlayer/add-on/jplayer.playlist.min.js"></script>
<script type="text/javascript" src="/assets/jPlayer/demo.js"></script>
